# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
env/

# Node/React
node_modules/
dist/
build/
.parcel-cache/
.cache/

# Env files
.env
.env.*

# IDE
.idea/
.vscode/

